<footer class="text-center text-lg-start bg-dark text-muted text-light">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="30" height="30"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M137.6,22.93333h-103.2c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v103.2c0,6.33533 5.13133,11.46667 11.46667,11.46667h57.33333v-51.6h-17.2v-17.2h17.2v-9.2364c0,-17.48667 8.51973,-25.1636 23.05373,-25.1636c6.96027,0 10.64107,0.516 12.384,0.75107v16.44893h-9.91293c-6.16907,0 -8.3248,3.25653 -8.3248,9.84987v7.35013h18.08293l-2.45387,17.2h-15.62907v51.6h28.66667c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-103.2c0,-6.33533 -5.13707,-11.46667 -11.46667,-11.46667z"></path></g></g></svg>
        </a>
        <a href="" class="me-4 text-reset">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="30" height="30"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M160.53333,39.77213c-5.4868,2.43667 -11.38067,4.0764 -17.56693,4.816c6.31813,-3.784 11.1628,-9.77533 13.44467,-16.91907c-5.90533,3.50307 -12.4528,6.04867 -19.42453,7.42467c-5.57853,-5.94547 -13.52493,-9.66067 -22.31987,-9.66067c-16.8904,0 -30.5816,13.69693 -30.5816,30.5816c0,2.39653 0.2752,4.73573 0.7912,6.966c-25.41587,-1.2728 -47.94787,-13.4504 -63.038,-31.9576c-2.62587,4.51787 -4.13373,9.7696 -4.13373,15.38253c0,10.60667 5.39507,19.9692 13.59947,25.45027c-5.01093,-0.16053 -9.72947,-1.53653 -13.85173,-3.82413c0,0.13187 0,0.25227 0,0.38413c0,14.82067 10.53787,27.18173 24.53293,29.98533c-2.5628,0.69947 -5.26893,1.07213 -8.06107,1.07213c-1.96653,0 -3.8872,-0.19493 -5.75053,-0.54467c3.89293,12.14893 15.1876,20.99547 28.5692,21.242c-10.46333,8.2044 -23.65,13.09493 -37.98333,13.09493c-2.46533,0 -4.902,-0.14333 -7.29853,-0.43c13.5364,8.67453 29.60693,13.73707 46.88147,13.73707c56.25547,0 87.00907,-46.60053 87.00907,-87.0148c0,-1.3244 -0.02867,-2.64307 -0.086,-3.956c5.97987,-4.3172 11.16853,-9.7008 15.26787,-15.82973z"></path></g></g></svg>
        </a>
        <a href="" class="me-4 text-reset">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="30" height="30"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86.02239,17.2c-38.00627,0 -68.82239,30.8052 -68.82239,68.8c0,37.9948 30.81613,68.8 68.82239,68.8c57.39067,0 70.32032,-53.27987 64.93672,-80.26667h-7.62578h-13.00078h-44.33255v22.93333h44.36614c-5.10025,19.76997 -23.004,34.4 -44.36614,34.4c-25.32987,0 -45.86667,-20.5368 -45.86667,-45.86667c0,-25.32987 20.5368,-45.86667 45.86667,-45.86667c11.51827,0 22.01108,4.27563 30.06641,11.2875l16.29297,-16.28177c-12.23494,-11.1456 -28.48912,-17.93906 -46.33698,-17.93906z"></path></g></g></svg>
        </a>
        <a href="" class="me-4 text-reset">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="30" height="30"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M61.64453,26.875c-19.08545,0 -34.76953,15.66309 -34.76953,34.76953v48.71094c0,19.08545 15.66309,34.76953 34.76953,34.76953h48.71094c19.08545,0 34.76953,-15.66308 34.76953,-34.76953v-48.71094c0,-19.08545 -15.66308,-34.76953 -34.76953,-34.76953zM61.64453,37.625h48.71094c13.29053,0 24.01953,10.72901 24.01953,24.01953v48.71094c0,13.29053 -10.72901,24.01953 -24.01953,24.01953h-48.71094c-13.29053,0 -24.01953,-10.72901 -24.01953,-24.01953v-48.71094c0,-13.29053 10.72901,-24.01953 24.01953,-24.01953zM117.74609,49.38281c-2.70849,0 -4.87109,2.1626 -4.87109,4.87109c0,2.70849 2.1626,4.87109 4.87109,4.87109c2.70849,0 4.87109,-2.1626 4.87109,-4.87109c0,-2.70849 -2.1626,-4.87109 -4.87109,-4.87109zM86,53.75c-17.7417,0 -32.25,14.5083 -32.25,32.25c0,17.7417 14.5083,32.25 32.25,32.25c17.7417,0 32.25,-14.5083 32.25,-32.25c0,-17.7417 -14.5083,-32.25 -32.25,-32.25zM86,64.5c11.94678,0 21.5,9.55322 21.5,21.5c0,11.94678 -9.55322,21.5 -21.5,21.5c-11.94678,0 -21.5,-9.55322 -21.5,-21.5c0,-11.94678 9.55322,-21.5 21.5,-21.5z"></path></g></g></svg>
        </a>
        <a href="" class="me-4 text-reset">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="25" height="25"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,13.76c1.94844,0 3.77594,0.7525 5.14656,2.13656l64.95687,64.95687c2.84875,2.83531 2.84875,7.45781 0,10.29313l-64.95687,64.95687c-1.37063,1.38406 -3.19813,2.13656 -5.14656,2.13656c-1.94844,0 -3.77594,-0.7525 -5.14656,-2.13656l-64.95687,-64.95687c-2.84875,-2.83531 -2.84875,-7.45781 0,-10.29313l42.38187,-42.38187l7.82063,7.82062c-1.88125,6.9875 0.01344,14.60656 5.30781,19.90094c1.26312,1.26312 2.70094,2.35156 4.27312,3.25187v33.12344c-6.26187,3.61469 -10.32,10.34688 -10.32,17.83156c0,11.38156 9.25844,20.64 20.64,20.64c11.38156,0 20.64,-9.25844 20.64,-20.64c0,-7.48469 -4.05812,-14.21687 -10.32,-17.83156v-26.05531l4.17906,4.17906c-1.88125,6.9875 0.01344,14.60656 5.30781,19.90094c3.89687,3.89687 9.08375,6.04687 14.59312,6.04687c5.50938,0 10.69625,-2.15 14.59313,-6.04687c8.04906,-8.04906 8.04906,-21.13719 0,-29.18625c-3.88344,-3.88344 -9.03,-6.02 -14.52594,-6.02c-1.81406,0 -3.62812,0.24187 -5.375,0.71219l-9.19125,-9.19125c1.88125,-6.9875 -0.01344,-14.60656 -5.30781,-19.90094c-3.88344,-3.88344 -9.03,-6.02 -14.52594,-6.02c-1.81406,0 -3.62812,0.24187 -5.375,0.71219l-7.82062,-7.82063l7.98187,-7.98187c1.37063,-1.38406 3.19813,-2.13656 5.14656,-2.13656M86,6.88c-3.62812,0 -7.25625,1.38406 -10.01094,4.15219l-12.84625,12.84625l15.89656,15.89656c2.16344,-1.26312 4.59562,-1.90812 7.02781,-1.90812c3.49375,0 6.9875,1.33031 9.66156,4.00437c4.52844,4.52844 5.18688,11.40844 2.08281,16.67594l15.62781,15.62781c2.16344,-1.26312 4.59562,-1.90812 7.02781,-1.90812c3.49375,0 6.9875,1.33031 9.66156,4.00437c5.375,5.375 5.375,14.0825 0,19.4575c-2.6875,2.6875 -6.20812,4.03125 -9.72875,4.03125c-3.52062,0 -7.04125,-1.34375 -9.72875,-4.03125c-4.52844,-4.52844 -5.18687,-11.40844 -2.08281,-16.68937l-15.62781,-15.62781c-1.11531,0.65844 -2.29781,1.14219 -3.52063,1.45125v42.26094c5.92594,1.53188 10.32,6.86656 10.32,13.27625c0,7.60563 -6.15437,13.76 -13.76,13.76c-7.59219,0 -13.76,-6.15437 -13.76,-13.76c0,-6.40969 4.39406,-11.74437 10.32,-13.27625v-42.26094c-2.29781,-0.59125 -4.48812,-1.73344 -6.28875,-3.53406c-4.52844,-4.52844 -5.18687,-11.40844 -2.08281,-16.67594l-15.91,-15.91l-47.24625,47.24625c-5.53625,5.52281 -5.53625,14.49906 0,20.02187l64.95688,64.95688c2.75469,2.76812 6.38281,4.15219 10.01094,4.15219c3.62813,0 7.25625,-1.38406 10.01094,-4.15219l64.95688,-64.95688c5.53625,-5.52281 5.53625,-14.49906 0,-20.02187l-64.95688,-64.95688c-2.75469,-2.76812 -6.38281,-4.15219 -10.01094,-4.15219z"></path></g></g></svg>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5 bg-dark">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-4">
            <!-- Content -->
            <div class="col">
                <div class="row contact_logo">
                  
                      <img src="/img/logo/logo1.png" class="logo">
                  
                </div>
              </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-2 col-xl-4 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Xem thêm
            </h6>
            <p>
              <a href="/me/about" class="text-reset">Về chúng tôi</a>
            </p>
            <p>
              <a href="/me/about" class="text-reset">Giới thiệu showroom</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Bảo mật</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chính sách</a>
            </p>
          </div>
          <!-- Grid column -->
          
          <!-- Grid column -->
   
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Liên hệ
            </h6>
            <p><i class="fas fa-home me-3"></i> 237 Nguyễn Văn Cừ, P8, Quận 5, TPHCM</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              19126044@students.hcmus.edu.vn
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CONCAR.com</a>
    </div>
    <!-- Copyright -->
  </footer>