   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CONCAR.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/me/about">Liên hệ</a>
        </li>
      </ul>
    </div>
     <div class="mt-4 mb-4 ">
   <div class="d-flex" style="width:300px">
        <input class="form-control me-2" id="search-by-name" type="search" placeholder="Search" aria-label="Search">
        <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="btn btn-outline-secondary my-2 my-sm-0 bg-light" onclick="doSearch()">
      </div>
 </div>
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login" style="margin-left: 10px;">Login</a>
        </li>
      </ul>
</nav>
 <div class="banner">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/banner/banner.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/banner-web-new-morning.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/ford 150 (sau).png" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/ford ranger.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/kia sedona.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/mazda cx5.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/mercedes c300 amg.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/mercedes-benz GLS.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/porsche 718 boxster.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/porsche macan.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/porsche panamera.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/toyota innova.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="img/banner/vinfat fadil.jpg" class="d-block w-100">
            </div>
          </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
                </div>
  </div>

<style type="text/css">
  
  /* sangtaosacviet.com - code 1 */
  .vi-header {border-bottom: solid 5px #000000;}
  .vi-left-title {
    width: auto;
    background: #000000;
    color: #fff;
    padding: 3px 10px;
    font-size: 18px;
    position: relative;
    margin: 0;}
    .pull-left {
      float: left;
      }
    .pull-left {
      margin-left: 0 !important;
    }
    .vi-left-title a {color: #fff;}
    .vi-left-title:after {
      border-style:   solid; 
      border-color: #353535 transparent;
      border-width:   0 28px  28px 0 ; 
      border-left-color: #000000;
      border-bottom-color: #000000;
      position: absolute;
      top: 0;
      left: 100%;
      content: "";}
      .pull-right {float: right;}
      .pull-right {margin-right: 25px !important;}
      .vi-right-link a:first-child {margin-left: 0;}
      .vi-right-link a {color: rgb(0, 0, 0);font-size: 14px;margin-left: 15px;}
      .vi-right-link a:hover {color: #a7a7a7;}


      .text {
        position: absolute;
        top: 1% !important;
        right: 1%;
       
      }
      .text:link {
            text-decoration: none;
            color: #fff;
        }
        .text:active {
            text-decoration: underline;
            color: #fff;
        }

        .text:visited {
            text-decoration: none;
            color: #fff;
        }

        .text:hover {
            text-decoration: underline;
            color: #fff;
        }

        
      
      .text1 {
        position: absolute;
        bottom: 1% !important;
        right: 1%;
      }
      .text1:link {
            text-decoration: none;
            color: #fff;
        }
        .text1:active {
            text-decoration: underline;
            color: #fff;
        }

        .text1:visited {
            text-decoration: none;
            color: #fff;
        }

        .text1:hover {
            text-decoration: underline;
            color: #fff;
        }
      .card1:hover{
        border: 15px solid transparent;
      }
      .card1{

      box-shadow: rgba(0, 0, 0, .1);
      width: 80%;
      left: 50%;
      top: 20px;
      transform: translate(-50%, 0);

      }

      
</style>

<div class="content">

  <div class="clearfix vi-header">
    <h3 class="vi-left-title pull-left">SẢN PHẨM</h3>
    <div class="vi-right-link pull-right">
      <a href="#" onclick="getCar('por')">Porsche</a>
      <a href="#" onclick="getCar('merc')">Mercedes</a>
      <a href="#" onclick="getCar('ford')">Ford</a>
      <a href="#" onclick="getCar('mazda')">Mazda</a>
      <a href="#" onclick="getCar('toyota')">Toyota</a>
      <a href="#" onclick="getCar('kia')">KIA</a>
      <a href="#" onclick="getCar('vin')">Vinfast</a>
      <a href="#" onclick="getCar()">Tất cả</a>
    </div>
  </div>


 
   {{!-- <div class="col-lg-2 col-md-6 item-5 ps-4">
        <div class="sidebar" id="sidebar">        
          <div class="dropdown ">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Hãng sản xuất
          </button>
          <dl class="dropdown-menu ml-auto" aria-labelledby="dropdownMenuButton1">
            <dd><a href="#" onclick="getCar('por')">Porsche</a></dd>
            <dd><a href="#" onclick="getCar('merc')">Mercedes</a></dd>
            <dd><a href="#" onclick="getCar('ford')">Ford</a></dd>
            <dd><a href="#" onclick="getCar('mazda')">Mazda</a></dd>
            <dd><a href="#" onclick="getCar('toyota')">Toyota</a></dd>
            <dd><a href="#" onclick="getCar('kia')">KIA</a></dd>
            <dd><a href="#" onclick="getCar('vin')">Vinfast</a></dd>
            <dd><a href="#" onclick="getCar()">Tất cả</a></dd>
          </dl>
          </div>
        </div>
      </div> --}}
      <div class="ms-3 me-2">
         <form class="info" id='info' name="searchInfo">
        {{#each courses}}
        <div class="card box" style="width: 17rem;">
          <img id="slider7" src="img/ava/{{this.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Giá : {{this.description}}</p>
            <a href="/cars/{{this.name}}" class="btn btn-outline-secondary">Chi tiết</a>
          </div>
        </div>
        {{/each}}
      </form>
      </div>

  <div>
    <div class="clearfix vi-header ">
      <h3 class="vi-left-title pull-left mt-5">TIN TỨC XE</h3> 
    </div>
  <div class="news">
      <div class="card card1  mt-2" >
           
      <a class="text" style="font-size:2.5vw;" href="https://vietnamnet.vn/vn/oto-xe-may/kham-pha/10-chiec-xe-the-thao-tot-nhat-cho-nguoi-moi-nhap-mon-769516.html" >Xem chi tiết</a>
      <a href="https://vietnamnet.vn/vn/oto-xe-may/kham-pha/10-chiec-xe-the-thao-tot-nhat-cho-nguoi-moi-nhap-mon-769516.html">
        <img class="card-img-top"  src="img/news/bg.png" alt="">
      </a>
              
    </div>
    
    <div class="card card1  mt-2" >
              
      <a class="text1" style="font-size:2.5vw;" href="https://www.24h.com.vn/o-to/7-chiec-xe-ban-tai-co-trung-duoc-danh-gia-cao-nhat-hien-nay-c747a1282706.html" >Xem chi tiết</a>
      <a href="https://www.24h.com.vn/o-to/7-chiec-xe-ban-tai-co-trung-duoc-danh-gia-cao-nhat-hien-nay-c747a1282706.html">
        <img class="card-img-top"  src="img/news/bg1.png" alt="">
      </a>
              
    </div>
    <div class="card card1  mt-2" >
              
      <a class="text1" style="font-size:2.5vw;" href="https://www.24h.com.vn/o-to/5-hang-xe-sang-nao-cua-duc-noi-dinh-dam-tren-toan-the-gioi-c747a1282357.html" >Xem chi tiết</a>
      <a href="https://www.24h.com.vn/o-to/5-hang-xe-sang-nao-cua-duc-noi-dinh-dam-tren-toan-the-gioi-c747a1282357.html">
        <img class="card-img-top"   src="img/news/bg2.png" alt="">
      </a>
              
    </div>
  </div> 
    
  </div>
  
    


  
</div>
<div class="clearfix"></div>

<script>
  function doSearch() {
    let name = $('#search-by-name').val().toLowerCase();
    $('#info').empty();
    let data ={};
    data.name = name;
    fetch('/courses/search', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
      let s = '';
        for(let i = 0 ; i< data.length ; i++){
          s+=' <div class="card box" style="width: 17rem;">\n' +
      '          <img id="slider7" src="img/ava/'+ data[i].image+'" class="card-img-top" alt="...">\n' +
      '          <div class="card-body">\n' +
      '            <h5 class="card-title">'+ data[i].name+'</h5>\n' +
      '            <p class="card-text">Giá : '+ data[i].description+'</p>\n' +
      '            <a href="/cars/'+ data[i].name+'" class="btn btn-outline-secondary">Chi tiết</a>\n' +
      '          </div>\n' +
      '        </div>'
        }
        $('#info').append(s);
      })
      .catch((error) => {
        console.log('Error:', error);
      });
  }
  function getCar(e){
    $('#info').empty();
     let data ={};
    data.name = e;
    fetch('/courses/search', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
      let s = '';
        for(let i = 0 ; i< data.length ; i++){
          s+=' <div class="card box" style="width: 17rem;">\n' +
      '          <img id="slider7" src="img/ava/'+ data[i].image+'" class="card-img-top" alt="...">\n' +
      '          <div class="card-body">\n' +
      '            <h5 class="card-title">'+ data[i].name+'</h5>\n' +
      '            <p class="card-text">Giá : '+ data[i].description+'</p>\n' +
      '            <a href="/cars/'+ data[i].name+'" class="btn btn-outline-secondary">Chi tiết</a>\n' +
      '          </div>\n' +
      '        </div>'
        }
        $('#info').append(s);
      })
      .catch((error) => {
        console.log('Error:', error);
      });
  }
</script>
