 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">CONCAR.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/me/about">Liên hệ</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cài đặt chi tiết
          </a>
          <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Tạo mục mới</a></li>
            <li><a class="dropdown-item" href="/me/stored/courese">Quản lý</a></li>
            <li><a class="dropdown-item" href="/chatroom/message">Tin nhắn</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout" onclick="logout()">Log out</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý nhân viên
          </a>
          <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/create">Đăng kí tài khoản</a></li>
            <li><a class="dropdown-item" href="/users/stored">Quản lý tài khoản</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
    </div>
     <div class="mt-4 mb-4 ">
   <div class="d-flex" style="width:300px">
        <input class="form-control me-2" id="search-by-name" type="search" placeholder="Search" aria-label="Search">
        <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="btn btn-outline-secondary my-2 my-sm-0 bg-light" onclick="doSearch()">
      </div>
 </div>
</nav>


    <section class="breadcrumb-section set-bg" data-setbg="/img/imgs/mer.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Chi Tiết Xe</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="/me/stored/courese">Xe</a>
                            <span>Chi Tiết Về Xe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="/img/imgs/ford f-150/ford-150 (1).jpg" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="/img/imgs/ford f-150/ford-150 (1).jpg"
                                src="/img/imgs/ford f-150/ford-150 (1).jpg" alt="">
                            <img data-imgbigurl="/img/imgs/ford f-150/ford-150 (2).jpg"
                                src="/img/imgs/ford f-150/ford-150 (2).jpg" alt="">
                            <img data-imgbigurl="/img/imgs/ford f-150/ford-150 (3).jpg"
                                src="/img/imgs/ford f-150/ford-150 (3).jpg" alt="">
                            <img data-imgbigurl="/img/imgs/ford f-150/ford-150 (4).jpg"
                                src="/img/imgs/ford f-150/ford-150 (4).jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>Ford F150</h3>
                        <div class="product__details__rating">
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">30.000.000.000 VND</div>
                        <p>Trong nhiều năm qua, Ford F150 là mẫu xe bán chạy hàng đầu thị trường Mỹ. Để giữ vững vị trí này, hãng xe Ford tiếp tục cho ra mắt F150 2021 hoàn toàn mới với nhiều nâng cấp và thay đổi cho mẫu xe bán tải này.
                            Ford F150 2021 thuộc thế hệ thứ 14 của mẫu xe F150 được ra mắt vào ngày 25/06/2020 với hàng loạt thay đổi từ thiết kế đến công nghệ. Ngoạt thất chiếc xe trở nên mềm mại hơn nhưng vẫn giữ được các yếu tố mạnh mẽ cần thiết. Ford F150 2021 trải qua thiết kế lại đến 92% các bộ phận, chỉ giữ lại cấu trúc cabin và hộp bán tải. </p>
                        <ul>
                            <li><b>Trọng lượng rỗng</b> <span>2740 kg</span></li>
                            <li><b>Động Cơ</b> <span>Hybird V6 3.5L  </span></li>
                            <li><b>Chia sẻ</b>
                                <div class="share">
                                    <div>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/google-logo.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/material-outlined/30/000000/instagram-new--v1.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios/30/000000/git.png"/>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        <iframe width="560" height="315" style="margin-top: 50px" src="https://www.youtube.com/embed/QZjpX_k5T_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="col-lg-12">
        <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                        aria-selected="true">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                        aria-selected="false">Thông Tin Chi Tiết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                        aria-selected="false">Đánh Giá <span>(1)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Ngoại Thất</h6>
                        <p>
                    
                            <p>Ford F-150 Limited 2021 có kích thước tổng thể dài x rộng x cao lần lượt là 5890 x 2030 x 1961 mm.
                            Với chiều dài gần 6m và cao hơn 2m, F-150 Limited 2021 thật sự là một “quái vật đường phố” khi lăn bánh trên đường. </p> <br>
                            <p>Nhìn từ trực diện, khách hàng có thể nhận ra ngay F-150 Limited khi dòng chữ “LIMITED” nằm chễm chệ ở phần nắp capo gân guốc.</p>
                            <img src="/img/imgs/ford f-150/ford-150 (1).jpg">
                            <p>Bộ lưới tản nhiệt đã được làm mới với cấu trúc thanh crom trung tâm có thiết kế dày bản ôm trọn phần đầu xe thay vì 3 thanh ngang thanh mảnh song song như trước. Đặc biệt, mặt ca lăng còn được phủ lớp sơn satin khác biệt với những chiếc F-150 tiêu chuẩn.Cụm đèn trước cũng có thiết kế mới với cấu trúc ôm trọn phần lưới tản nhiệt thay vì tách rời như thế hệ cũ. Đèn pha LED của F-150 Limited có dạng hình chữ nhật, bao bọc xung quanh quanh là dải đèn LED ban ngày gồm những bóng đèn li ti.</p>
                            <p>Bộ khuếch tán bên dưới cũng được làm mới chia thành 3 hốc gió hình chữ nhật giúp động cơ bên trong được làm mát tốt hơn, đồng thời tăng vẻ hầm hố. Hai bên là hốc đèn sương mù được khoét vuông vức và góc cạnh</p>
                            <img src="/img/imgs/ford f-150/ford-150 (2).jpg">
                            <p>
                                Khá bất ngờ khi hông xe F-150 Limited không xuất hiện nhiều đường nhấn nhá gân guốc. Thay vào đó, Ford tạo điểm nhấn cho hông xe thông qua phần vòm bánh có thiết kế nổi khối và nhô cao. Đi kèm là bộ vành khủng đa chấu có kích thước 22 inch.
                                Trang bị bậc lên xuống tự động gập mở tưởng chừng chỉ có trên những dòng SUV cao cấp nhưng lại được Ford tích hợp cho F-150 Limited 2021. Nhờ đó, chủ nhân và hành khách có thể ra/vào xe rất dễ dàng.   
                            </p>
                            <p>
                                Chi tiết bậc lên xuống vừa kể phía trên tiếp tục được sử dụng cho cho phần thùng hàng phía sau. Do đó, khách hàng không còn phải chất hàng một cách khó khăn như bán tải Ford Ranger mà chỉ cần bước đều như bước trên cầu thang.
                            </p>
                            <img src="/img/imgs/ford f-150/ford-150 (3).jpg" alt="">
                            <p>
                                Không những vậy, chủ nhân cũng không cần phải chạm tay để mở thùng hàng bởi xe có chức năng đóng mở bằng điều khiển từ xa. 
                                Khách hàng cũng có thể nhìn ra F-150 Limited 2021 từ sau nhờ phần ốp kim loại to bản ở nắp thùng với dòng chữ “LIMITED” được khắc sắc sảo. Bên dưới là hai ống xả hình tròn nằm đối xứng nhau lấy cảm hứng từ những chiếc SUV hiệu suất cao.
                                   
                            </p>
                            <h6>Nội Thất</h6>
                            <p>
                                Không quá lời khi đánh giá phần nội thất của F-150 Limited mang lại trải nghiệm tương đồng như một chiếc SUV hạng sang. Vừa bước vào, hành khách sẽ cảm nhận sự thoáng đãng và rộng rãi khi trần xe được tích hợp cửa sổ trời toàn cảnh điều chỉnh điện.
                            </p>
                            <img src="/img/imgs/ford f-150/ford-150 (4).jpg" alt="">
                            <p>
                                Không quá lời khi đánh giá phần nội thất của F-150 Limited mang lại trải nghiệm tương đồng như một chiếc SUV hạng sang. Vừa bước vào, hành khách sẽ cảm nhận sự thoáng đãng và rộng rãi khi trần xe được tích hợp cửa sổ trời toàn cảnh điều chỉnh điện.
                                Khoảng cách để chân giữa các hàng ghế rất dư dả cho những hành khách 1m8 trở lên. Bên cạnh đó, chi tiết gỗ bạch đàn được áp dụng ở nhiều nơi như cánh cửa, mặt táp lô giúp khoang cabin trông đẳng cấp hơn. 
                                Dù đã được cải tiến đáng kể về độ sang trọng nhưng táp lô của F-150 Limited 2021 vẫn giữ lại được chất riêng của dòng bán tải. Đó là những phần ốp vuông vức, góc cạnh và đậm chất nam tính. 
                                Đáng chú ý nhất là bệ tỳ tay cỡ lớn của F-150 Limited 2021 được trang trí bằng một miếng kim loại khắc laze tên Limited và số seri. 
                                Vô lăng của F-150 Limited có thiết kế quá cơ bắp và nam tính, phía bên tay phải là nút xoay gài cầu. Đi kèm còn có hàng loạt các nút bấm tiện lợi. 
                                Toàn bộ ghế ngồi trên F-150 Limited đều được bọc da và có độ đàn hồi êm ái hơn đàn anh Raptor giúp hành khách cảm thấy thư thái. Trên bề mặt ghế còn có những đường chỉ đôi tương phản thể hiện sự tỉ mỉ mà Ford chăm chút cho F-150 Limited 2021.
                            </p>
                            <img src="/img/imgs/ford f-150/ford-150 (5).jpg" alt="">
                            <p>
                                Hàng ghế trước có thể chỉnh điện 10 hướng, đi kèm là tính năng sưởi ấm, làm mát và chế độ massage.
                                Hàng ghế sau có độ nghiêng khá lớn giúp hành khách vẫn cảm thấy thoải mái khi đi đường dài. Nếu cần thêm không gian chứa đồ, hàng ghế sau có thể gập lại rất nhanh chóng và đơn giản. 
                            </p>
                            <h6>Tiện Nghi</h6>
                            
                            <p>
                                Là mẫu bán tải cao cấp do đó, F-150 Limited 2021 được trang bị điều hòa tự động, độc lập ở cả phía trước và sau giúp duy trì nhiệt độ mát lạnh.
                            </p>
                            <ul> F-150 Limited được trang bị khá nhiều tính năng giải trí hiện đại như:
                                    <li>Màn hình cảm ứng trung tâm 8 inch tích hợp SiriusXM Satellite Radio</li>
                                    <li>Hệ thống SYNC 3 ra lệnh bằng giọng nói</li>
                                    <li>Kết nối wifi, Apple Carplay và Android Auto </li>
                                    <li>Cổng sạc 110V và cổng sạc 12V cho hàng ghế sau </li>
                                    <li>Dàn âm thanh Bang & Olufsen gồm 10 loa</li>
                            </ul>
                           
                        </p>
                        <h6>Vận Hành</h6>
                        <p>
                            Tưởng chừng động cơ V6 Ecoboost 3.5L chỉ được trang bị cho “trùm cuối” F-150 Raptor nhưng Ford đã mang động cơ này lên F-150 Limited 2021.
                            Ở phiên bản cũ, F-150 Limited 2018 chỉ sở hữu nguồn năng lượng 375 mã lực và mô men xoắn 637 Nm. Bước sang phiên bản 2021, động cơ mới của F-150 Limited có khả năng sản sinh công suất tối đa 450 mã lực, mô men xoắn cực đại 691 Nm.
                            Toàn bộ sức mạnh của F-150 Limited được truyền xuống hệ dẫn động 4 bánh thông qua hộp số tự động 10 cấp. F-150 Limited có độ bám đường cao nhờ sử dụng bộ lốp dày có thông số 275/45R22.
                        </p>
                         <img src="/img/imgs/ford f-150/ford-150 (6).jpg">  
                         <p>Có thể nói, khả năng vận hành của F-150 Limited 2021 gần như tiệm cận với đàn anh F-150 Raptor. Do đó, Không chỉ trải nghiệm được sự tiện nghi, sang trọng mà chủ nhân của F-150 Limited còn được thoả mãn những màn off-road đỉnh cao. </p>
                         <ul>Đặc biệt, F-150 Limited còn có đến 5 chế độ lái gồm:
                             <li>Normal</li>
                             <li>Tow-Haul: chế độ Kéo rơ-mooc giúp lái xe dễ dàng tối đa hóa sức mạnh động cơ</li>
                             <li>Snow-Wet: giúp xe vận hành tốt trong điều kiện có tuyết, trơn trượt</li>
                             <li>EcoSelect: giúp xe tiết kiệm nhiên liệu</li>
                             <li>Sport: giúp xe tăng tốc nhanh hơn, mang lại cảm giác lái phấn khích</li>
                         </ul> 
                         <h6>An Toàn</h6>
                         <ul>Bảng danh sách an toàn của F-150 Limited dày đặc với những hệ thống như:
                            <li>Camera 360</li>
                            <li>Cảnh báo an toàn phía trước </li>
                            <li>Phát hiện người đi bộ </li>
                            <li>Tự động phanh khẩn cấp</li>
                            <li>Cảnh báo chệch làn</li>
                            <li>Hỗ trợ giữ làn</li>
                            <li>Hỗ trợ đỗ xe song song</li>
                            <li>Ga tự động thích ứng</li>
                            <li>Kiểm soát chống lật</li>
                            <li>Cảnh báo điểm mù</li>
                            <li>Kiểm soát vào cua</li>
                         </ul>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Thông Số Chi Tiết</h6>
                        <table border="solid" cellpadding="50px" width="100%" >
                            <tr>
                                <td>Tên xe</td>
                                <td>Ford F-150 Limited</td>
                            </tr>
                            <tr>
                                <td>Số chổ ngồi</td>
                                <td>05</td>
                            </tr>
                            <tr>
                                <td>Kiểu xe</td>
                                <td>Bán tải</td>
                            </tr>
                            <tr>
                                <td>Xuất xứ</td>
                                <td>Nhập khẩu</td>
                            </tr>
                            <tr>
                                <td>Kích thước tổng thể DxRxC (mm)</td>
                                <td>5890 x 2030 x 1961 mm</td>
                            </tr>
                            <tr>
                                <td>Tự trọng</td>
                                <td>2240 kg</td>
                            </tr>
                            <tr>
                                <td>Động cơ</td>
                                <td>V6 Ecoboost 3.5L</td>
                            </tr>
                            <tr>
                                <td>Công suất tối đa</td>
                                <td>450 mã lực</td>
                            </tr>
                            <tr>
                                <td>Mô men xoắn cực đại</td>
                                <td>691 Nm</td>
                            </tr>
                            <tr>
                                <td>Hộp số</td>
                                <td>Tự động 10 cấp</td>
                            </tr>
                            <tr>
                                <td>Hệ dẫn động</td>
                                <td>4 bánh</td>
                            </tr>
                            <tr>
                                <td>Chế độ lái</td>
                                <td>Normal, Tow-Haul, Snow-Wet, EcoSelect và Sport</td>
                            </tr>
                            <tr>
                                <td>Cỡ lốp</td>
                                <td>275/45R22</td>
                            </tr>


                        </table>
                        <p>Giá xe Ford F-150 Limited tại Mỹ từ 67.135 USD (Chưa bao gồm các loại thuế, phí khi nhập khẩu về Việt Nam)</p>
                            
                            
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Thông Tin Chi Tiết</h6>
                         <p>Bỉ đã trả giá cho trận thắng 1-0 trước Bồ Đào Nha ở vòng 1/8 EURO 2021 khi mà cả De Bruyne và Eden Hazard dính chấn thương.
                            De Bruyne dính chấn thương ở đầu hiệp 2 và phải rời sân nhường chỗ cho Mertens. Tiền vệ của Man City bị chấn thương mắt cá chân sau pha phạm lỗi của Joao Palhinha. Trong khi đó, Hazard gặp vấn đề về gân khoeo và phải rời sân ở cuối trận.
                            “Chúng tôi cần 48 giờ để biết được mức độ chấn thương của Hazard và De Bruyne. 
                            De Bruyne bị chấn thương mắt cá chân. Cậu ấy đã phải nhận một cú vào bóng quá mạnh từ đối thủ. Hazard thì gặp vấn đề về cơ bắp. 
                            Chúng tôi sẽ quay trở lại Bỉ tối nay và sẽ có kết quả chẩn đoán vào ngày mai”, 
                            HLV của tuyển Bỉ, Roberto Martinez phát biểu.Bỉ đã trả giá cho trận thắng 1-0 trước Bồ Đào Nha ở vòng 1/8 EURO 2021 khi mà cả De Bruyne và Eden Hazard dính chấn thương. De Bruyne dính chấn thương ở đầu hiệp 2 và phải rời sân nhường chỗ cho Mertens. Tiền vệ của Man City bị chấn thương
                            mắt cá chân sau pha phạm lỗi của Joao Palhinha. Trong khi đó, Hazard gặp vấn đề về gân khoeo và phải rời sân ở cuối trận.
                            “Chúng tôi cần 48 giờ để biết được mức độ chấn thương của Hazard và De Bruyne. 
                            De Bruyne bị chấn thương mắt cá chân. Cậu ấy đã phải nhận một cú vào bóng quá mạnh từ đối thủ. Hazard thì gặp vấn đề về cơ bắp. Chúng tôi sẽ quay trở lại Bỉ tối nay và sẽ có kết quả chẩn đoán vào ngày mai”,
                            HLV của tuyển Bỉ, Roberto Martinez phát biểu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>