 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">CONCAR.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/me/about">Liên hệ</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cài đặt chi tiết
          </a>
          <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Tạo mục mới</a></li>
            <li><a class="dropdown-item" href="/me/stored/courese">Quản lý</a></li>
            <li><a class="dropdown-item" href="/chatroom/message">Tin nhắn</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout" onclick="logout()">Log out</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý nhân viên
          </a>
          <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/create">Đăng kí tài khoản</a></li>
            <li><a class="dropdown-item" href="/users/stored">Quản lý tài khoản</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
    </div>
     <div class="mt-4 mb-4 ">
   <div class="d-flex" style="width:300px">
        <input class="form-control me-2" id="search-by-name" type="search" placeholder="Search" aria-label="Search">
        <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="btn btn-outline-secondary my-2 my-sm-0 bg-light" onclick="doSearch()">
      </div>
 </div>
</nav>


    <section class="breadcrumb-section set-bg" data-setbg="/img/imgs/mer.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Chi Tiết Xe</h2>
                        <div class="breadcrumb__option">
                            <a href="../main/index.html">Home</a>
                            <a href="../main/index.html">Xe</a>
                            <span>Chi Tiết Về Xe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="/img/img/kia sedona/kia sedona (1).jpg" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (1).jpg"
                                src="/img/img/kia sedona/kia sedona (1).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (2).jpg"
                                src="/img/img/kia sedona/kia sedona (2).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (3).jpg"
                                src="/img/img/kia sedona/kia sedona (3).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (4).jpg"
                                src="/img/img/kia sedona/kia sedona (4).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (5).jpg"
                                src="/img/img/kia sedona/kia sedona (5).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (6).jpg"
                                src="/img/img/kia sedona/kia sedona (6).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (7).jpg"
                                src="/img/img/kia sedona/kia sedona (7).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (8).jpg"
                                src="/img/img/kia sedona/kia sedona (8).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (9).jpg"
                                src="/img/img/kia sedona/kia sedona (9).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (10).jpg"
                                src="/img/img/kia sedona/kia sedona (10).jpg" alt="">
                            <img data-imgbigurl="/img/img/kia sedona/kia sedona (11).jpg"
                                src="/img/img/kia sedona/kia sedona (11).jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>Kia Sedona</h3>
                        <div class="product__details__rating">
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">1.519.000.000 VND</div>
                        <p>Mẫu xe Kia Sedona thuộc phân khúc Minivan, hoặc MPV cỡ lớn, có 7 chỗ ngồi. Ở một vài thị trường nó còn có tên là Kia Carnival, gợi nhớ đến các lễ hội Carnival nổi tiếng trên khắp thế giới. Kia Sedona được hãng xe Hàn Quốc giới thiệu lần đầu năm 1998 và đến nay đang là thế hệ thứ 3. Tại Việt nam, thế hệ mới lần đầu được giới thiệu năm 2015 cùng với các thị trường khác trên thế giới và hiện là mẫu xe gia đình cao cấp bán chạy nhất Việt nam. Đối thủ của Sedona tại Việt nam là Toyota Alphard, Ford Tourneo</p>
                        <ul>
                            <li><b>Tải trọng</b> <span>760 kg</span></li>
                            <li><b>Động Cơ</b> <span>Dầu, 2.2L, 4 xi lanh | Xăng, 3.3L, 6 xi lanh</span>
                            <span></span></li>
                            <li><b>Chia sẻ</b>
                                <div class="share">
                                    <div>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/google-logo.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/material-outlined/30/000000/instagram-new--v1.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios/30/000000/git.png"/>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <iframe width="560" height="315" style="margin-top: 50px" src="https://www.youtube.com/embed/Eb-_55N4zaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="col-lg-12">
        <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                        aria-selected="true">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                        aria-selected="false">Thông Tin Chi Tiết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                        aria-selected="false">Đánh Giá <span>(1)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Ngoại Thất</h6>
                            <img src="/img/img/kia sedona/kia sedona (2).jpg">
                            <br><br>
                            <p>Ngoại thất Kia Sedona tại Việt Nam</p>
                            <img src="/img/img/kia sedona/kia sedona (3).jpg">
                            <br><br>
                            <p>Hình ảnh chi tiết đầu xe Kia Sedona tại Việt nam. Có thể cảm nhận được ấn tượng tốt về thiết kế ngoại thất của mẫu xe Kia giá đắt nhất hiện nay ngay khi ngắm nhìn lưới tản nhiệt hình mặt hổ với các thanh kim loại đan xéo cùng các chấm hình thoi nổi lên ấn tượng. Ba đờ sốc trước với hốc hút gió màu đen ăn về hai bên xe làm nổi bật đèn sương mù dạng thấu kính Projector, một trang bị rất lạ mắt. Cụm đèn pha/cos lớn làm tổng thể mặt trước xe toát lên vẻ hầm hố, mặc dù vẫn mang dáng vẻ điềm đạm không phá cách. Bên trong đèn xi-nhan gần lưới tản nhiệt, cùng với đèn pha Halogen được bao bọc bởi dải đèn LED ban ngày, ngoài cùng là đèn bóng chiếu Projector.</p>
                            <img src="/img/img/kia sedona/kia sedona (4).jpg">
                            <br><br>
                            <p>Thân xe Kia Sedona. Hai bên hông xe là hai cửa điều khiển điện với 3 cách mở khác nhau: remote, đèn trần ghế lái và hai bên cột B. Khe trượt cửa khá thô không khéo bằng Toyota Sienna vì khe trượt ngay bên hông xe.</p>
                            <img src="/img/img/kia sedona/kia sedona (5).jpg">
                            <br><br>
                            <p>Hình ảnh chi tiết đuôi xe Kia Sedona phiên bản hiện tại. Đánh giá ngoại thất Kia Sedona thế hệ 3 hiện tại ở dạng tạm ổn, khoảng sáng gầm thấp không đi phượt được mà thay vào đó là một chiếc xe chuyên đi trong phố (tuy dáng vẻ hơi đồ sộ không linh hoạt trên các phố, ngõ nhỏ).</p>
                        <h6>Nội Thất</h6>   
                            <img src="/img/img/kia sedona/kia sedona (6).jpg">
                            <br><br>
                            <p>Nội thất xe khá đẹp nếu so với các dòng xe bình dân giá rẻ của Hàn Quốc với các chi tiết được sơn gỗ bóng nhưng nên giữ sạch sẽ vì sơn bóng dễ thấy bụi bám và dấu vân tay. Ngoài chỗ sơn gỗ bóng thì là nhựa sần nhìn tạm ổn nhưng khi chạm tay dơ vịn vào thì khó chùi hơn. Ghế được bọc da hai màu: vàng và đen khá đẹp và hợp lý. Trong xe có khá nhiều chỗ đề cốc và chai nước sẽ tiện cho gia đình đi nhiều người và có em bé.</p>
                            <img src="/img/img/kia sedona/kia sedona (7).jpg">
                            <br><br>
                            <p>Các tiện nghi của Kia Sedona: Ghế có sưởi, ghế lái chỉnh điện 12 hướng, tay lái bọc da chỉnh 4 hướng, đầu DVD, âm thanh 8 loa, điều hòa tự động 3 vùng độc lập có lọc ion, cửa sổ trời hàng ghế 2 và 3, cốp sau đóng mở thông minh, đề nổ startop....</p>
                            <img src="/img/img/kia sedona/kia sedona (8).jpg">
                            <br><br>
                            <p>Hàng ghế thứ 3 khá rộng rãi của Kia Sedona</p>
                            <img src="/img/img/kia sedona/kia sedona (9).jpg">
                            <br><br>
                            <p>Cửa sổ trời không thể thiếu trên các mẫu xe 7 chỗ của Kia</p>
                            <img src="/img/img/kia sedona/kia sedona (10).jpg">
                            <br><br>
                            <p>Khoang hành lý rộng rãi</p>
                        <h6>Vận Hành</h6>
                            <img src="/img/img/kia sedona/kia sedona (11).jpg">
                            <br><br>
                            <p>Động cơ Kia Sedona phiên bản máy dầu. Có 2 phiên bản động cơ, diesel 2.2L và xăng 3.3L. Người tiêu dùng đã cho biết mức tiêu hao nhiên liệu của 2 bản động cơ dầu và xăng này ở điều kiện hỗn hợp vào khoảng 8L và 13L/100km. Như vậy bản máy dầu khá tiết kiệm</p>
                            <p>An toàn của xe Kia Sedona: Phanh đĩa 4 bánh, phanh ABS/EBD, cân bằng điện tử, hỗ trợ khởi hành ngang dốc, cảnh báo điểm mù, ga tự động, camera lùi, 6 túi khí...</p>
                        <h6>Bảng Giá Xe</h6> 
                            <img src="/img/img/kia sedona/kia sedona (12).jpg">
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Thông Số Chi Tiết</h6>
                        <table border="solid" cellpadding="50px" width="100%" >
                            <tr>
                                <td><strong><i>Tên xe</i></strong></td>
                                <td><strong>Kia Sedona Luxury D</strong></td>
                                <td><strong>Kia Sedona Luxury G</strong></td>
                            </tr>
                            <tr>
                                <td><strong><i>Số chỗ ngồi</i></strong></td>
                                <td>07 chỗ ngồi</td>
                                <td>07 chỗ ngồi</td>
                            </tr>
                            <tr>
                                <td><strong><i>Kích thước tổng thể DxRxC (mm)</i></strong></td>
                                <td>5115 x 1985 x 1755 mm</td>
                                <td>5115 x 1985 x 1755 mm</td>
                            </tr>
                            <tr>
                                <td><strong><i>Chiều dài cơ sở</i></strong></td>
                                <td>3060mm</td>
                                <td>3060mm</td>
                            </tr>
                            <tr>
                                <td><strong><i>Khoảng sáng gầm</i></strong></td>
                                <td>163mm</td>
                                <td>163mm</td>
                            </tr>
                            <tr>
                                <td><strong><i>Bán kính vòng quay</i></strong></td>
                                <td>5.6m</td>
                                <td>5.6m</td>
                            </tr>
                            <tr>
                                <td><strong><i>Tải trọng</i></strong></td>
                                <td>760kg</td>
                                <td>760kg</td>
                            </tr>
                            <tr>
                                <td><strong><i>Động cơ</i></strong></td>
                                <td>Dầu, 2.2LCRDi, 4 xi lanh thẳng hàng, 16 van DOHC</td>
                                <td>Xăng, Lambda 3.3L MPI, 6 xi lanh đối xứng, 24 van DOHC</td>
                            </tr>
                            <tr>
                                <td><strong><i>Dung tích động cơ</i></strong></td>
                                <td>2199cc</td>
                                <td>3342cc</td>
                            </tr>
                            <tr>
                                <td><strong><i>Công suất cực đại</i></strong></td>
                                <td>190Hp / 3800rpm</td>
                                <td>266Hp / 6400rpm</td>
                            </tr>
                            <tr>
                                <td><strong><i>Mô-men xoắn cực đại</i></strong></td>
                                <td>440Nm /1750- 2750 rpm</td>
                                <td>318Nm / 5200 rpm</td>
                            </tr>
                            <tr>
                                <td><strong><i>Hộp số</i></strong></td>
                                <td>Tự động 6 cấp</td>
                                <td>Tự động 6 cấp</td>
                            </tr>
                            <tr>
                                <td><strong><i>Dẫn động</i></strong></td>
                                <td>Cầu trước</td>
                                <td>Cầu trước</td>
                            </tr>
                            <tr>
                                <td><strong><i>Mức tiêu hao nhiên liệu</i></strong></td>
                                <td>8.5L/100km</td>
                                <td>13L/100km</td>
                            </tr>
                            <tr>
                                <td><strong><i>Lốp xe</i></strong></td>
                                <td>235/60R18</td>
                                <td>235/60R18</td>
                            </tr>
                            <tr>
                                <td><strong><i>Bình xăng</i></strong></td>
                                <td>80L</td>
                                <td>80L</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Thông Tin Chi Tiết</h6>
                         <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
