 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">CONCAR.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/me/about">Liên hệ</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cài đặt chi tiết
          </a>
          <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Tạo mục mới</a></li>
            <li><a class="dropdown-item" href="/me/stored/courese">Quản lý</a></li>
            <li><a class="dropdown-item" href="/chatroom/message">Tin nhắn</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout" onclick="logout()">Log out</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý nhân viên
          </a>
          <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/create">Đăng kí tài khoản</a></li>
            <li><a class="dropdown-item" href="/users/stored">Quản lý tài khoản</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
    </div>
     <div class="mt-4 mb-4 ">
   <div class="d-flex" style="width:300px">
        <input class="form-control me-2" id="search-by-name" type="search" placeholder="Search" aria-label="Search">
        <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="btn btn-outline-secondary my-2 my-sm-0 bg-light" onclick="doSearch()">
      </div>
 </div>
</nav>

    <section class="breadcrumb-section set-bg" data-setbg="/img/imgs/mer.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Chi Tiết Xe</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="/me/stored/courese">Xe</a>
                            <span>Chi Tiết Về Xe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="/img/img/porsche panamera/Porsche-Panamera-2021(1).jpg" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="/img/img/porsche panamera/Porsche-Panamera-2021(1).jpg"
                                src="/img/img/porsche panamera/Porsche-Panamera-2021(1).jpg" alt="">
                            <img data-imgbigurl="/img/img/porsche panamera/Thiet-ke-ngoai-that-xe-Porsche-Panamera.jpeg"
                                src="/img/img/porsche panamera/Thiet-ke-ngoai-that-xe-Porsche-Panamera.jpeg" alt="">
                            <img data-imgbigurl="/img/img/porsche panamera/Thiet-ke-den-hau-Porsche-Panamera.jpeg"
                                src="/img/img/porsche panamera/Thiet-ke-den-hau-Porsche-Panamera.jpeg" alt="">
                            <img data-imgbigurl="/img/img/porsche panamera/Khoang-lai-xe-Porsche-Panamera.jpeg"
                                src="/img/img/porsche panamera/Khoang-lai-xe-Porsche-Panamera.jpeg" alt="">
                            <img data-imgbigurl="/img/img/porsche panamera/porsche-panamera-inside.jpg"
                                src="/img/img/porsche panamera/porsche-panamera-inside.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>Porsche Panamera Turbo S 2021</h3>
                        <div class="product__details__rating">
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <img src="https://img.icons8.com/emoji/24/000000/star-emoji.png"/>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">11.810.000.000 VNĐ VND</div>
                        <p>Sau 4 năm ra mắt thế hệ thứ 2 từ năm 2016, Porsche Panamera đã chính thức có phiên bản nâng cấp giữa dòng đời với những thay đổi tập trung vào hiệu suất. Dòng coupe 4 cửa hạng sang – Porsche Panamera 2021 trước khi ra mắt cũng đã xuất sắc lập lập kỷ lục mới tại trường đua Địa ngục xanh Nurburgring khắc nghiệt nhất thế giới.
                        </p>
                        <ul>
                            <li><b>Trọng lượng toàn tải</b> <span>2690 kg</span></li>
                            <li><b>Động Cơ</b> <span>Xăng 8 xilanh 4.0L</span></li>
                            <li><b>Chia sẻ</b>
                                <div class="share">
                                    <div>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/google-logo.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/material-outlined/30/000000/instagram-new--v1.png"/>
                                        </a>
                                        <a href="" class="me-4 text-reset">
                                        <img src="https://img.icons8.com/ios/30/000000/git.png"/>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <iframe width="560" height="315" style="margin-top: 50px" src="https://www.youtube.com/embed/Oq8Q8pdaK2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="col-lg-12">
        <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                        aria-selected="true">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                        aria-selected="false">Thông Tin Chi Tiết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                        aria-selected="false">Đánh Giá <span>(1)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h5>Ngoại Thất</h5>
                            <p>So với bản tiền nhiệm, diện mạo của Panamera 2021 đã được làm mới hơn tạo cái nhìn mới mẻ. Để tối ưu phong cách thể thao, Porsche đã cung cấp gói thiết kế Sport Design ở dạng tiêu chuẩn thay vì là trang bị tuỳ chọn như trước đây. </p> <br>
                            <img src="/img/img/porsche panamera/Porsche-Panamera-2021(1).jpg">
                            <br>
                            <br>
                            <p>Gói thiết kế Sport Design sẽ tạo nên sự khác biệt tại cảm trước, hai hốc gió được gia tăng kích thước. Trong khi đó hông xe có 2 tùy chọn 20 inch và 21 inch mang lại sự khỏe khoắn, năng động. </p> <br>
                            <img src="/img/img/porsche panamera/Thiet-ke-ngoai-that-xe-Porsche-Panamera.jpeg">
                            <br>
                            <br>
                            <p>Đuôi xe gây ấn tượng mạnh với dải đèn LED hiệu ứng “chạy” trải dài toàn bộ chiều rộng mặt sau. Hệ thống ống xả cũng được tinh chỉnh lại để có thể phát ra những âm thanh V8 đặc trưng. Hứa hẹn sẽ mang lại trải nghiệm đầy phấn khích, </p> <br>
                            <img src="/img/img/porsche panamera/Thiet-ke-den-hau-Porsche-Panamera.jpeg">
                            <br>
                            <br>
                            <h5>Nội Thất</h5>
                            <br>
                            <p>Hàng ghế trước thể thao truyền tải cảm giác của một chiếc Porsche điển hình: Bạn có thể ngồi cao hơn, nhưng vẫn cảm nhận rõ mặt đường. Là một nhà sản xuất xe thể thao, chúng tôi hiểu rõ việc người lái và xe phải trở thành một thể thống nhất. Vì vậy, bạn không đơn giản chỉ ngồi trên một chiếc Panamera – nhưng nhờ vào cấu trúc thiết kế, bạn là một phần của chiếc xe. Bảng điều khiển bố trí 3 chiều tạo điểm nhấn cá tính cho khoang lái. Khoảng cách giữa vô-lăng đa chức năng, cần số PDK (Porsche Doppelkupplung) và các nút chức năng đều cực ngắn nhờ vào bảng điều khiển trung tâm dốc lên, đặc tính của xe thể thao. Ổ khóa điện nằm bên trái – điểm đặc trưng của Porsche. Một điểm nổi bật khác khiến chúng tôi tự hào: màn hình cảm ứng 12,3” thuộc hệ thống Quản Lý Liên Lạc (PCM). Thiết kế mới tôn lên độ phân giải full-HD và màn hình chính có thể tùy biến theo ý thích. Menu mới và trực quan mang lại khả năng truy cập các chức năng chính nhanh chóng hơn.</p>
                            <p>
                                Với phiên bản Panamera 2021 đã có “hàm lượng” option khủng hơn trước với những điểm nhấn đáng chú ý như:
                            </p>
                            <ul>
                                <li>Vô lăng GT Sport (dành cho bản Turbo S), vô lăng Race-Tex (dành cho bản GTS)</li>
                                <li>Ghế lái chỉnh điện 8 hướng là trang bị tiêu chuẩn, riêng ghế lái trên bản Turbo S có thể chỉnh điện 14 hướng kèm bộ nhớ vị trí. Riêng bản GTS sở hữu ghế lái chỉnh điện tới 18 hướng cùng phong cách thiết kế thể thao.</li>
                                <li>Dàn âm thanh 14 loa của Bose  dành cho bản Turbo S, trong khi các bản còn lại sử dụng dàn âm thanh 21 loa của Burmester.</li>
                            </ul>
                            <img src="/img/img/porsche panamera/porsche-panamera-inside.jpg" alt="">
                            <br>
                            <br>
                            <h5>Vận hành</h5>
                            <br>
                            <img src="/img/img/porsche panamera/porsche-panamera-engine.jpg" alt="">
                            <p>
                                Hai động cơ “chủ lực” trên Porsche Panamera vẫn là V6 và V8, gọn nhẹ và tích hợp hệ thống van biến thiên hiện đại còn hệ thống tăng áp thì cho phản hồi nhanh hơn hẳn. Bản 4.0L V8 trên Panamera tiêu chuẩn có thể sản sinh 550 mã lực và 770 Nm, trong khi bản Panamera 4 với cấu hình V6 chỉ là 330 mã lực, 450 Nm. Các bản 4S cho 440 mã lực, 550 Nm.
                            </p>
                            <img src="/img/img/porsche panamera/Khoang-lai-xe-Porsche-Panamera.jpeg" alt="">
                            <p>
                                Động cơ tốt cần một hộp số phù hợp, nếu không thì cảm giác lái cũng không “chất” được. Panamera sử dụng hộp số tự động 8 cấp lý hợp kép để tạo nên sự khác biệt khi trải nghiệm xe, mọi thứ diễn ra nhanh chóng, gần như tức thì, như một chiếc xe thể thao.
                            </p>
                            <p>
                                Đóng góp không nhỏ cho khả năng tăng tốc xuất sắc trên cao tốc, bo cua tay áo hay vượt địa hình là hệ thống quản lý hợp lực kéo của Porsche, với bộ ly hợp đa đĩa cùng trình điều khiển thông minh, một dạng kết hợp hoàn hảo giữa phần cứng và phần mềm, tính toán mọi thông số và duy trì ở mức tốt nhất cho trải nghiệm của người lái trong mọi tình huống.
                            </p>
                            <img src="/img/img/porsche panamera/Porsche-Panamera-wheel.jpg" alt="">
                            <p>
                                Hệ thống treo khí nén chủ động là điểm khác biệt của Porsche Panamera 2021, đặc biệt là thế hệ mới, với công nghệ 3 buồng giúp tăng 60% thể tích khí so với bản tiền nhiệm, cho khả năng giảm xóc tốt hơn hẳn. Cùng với đó là hệ thống kiểm soát khung gầm chủ động thể thao của Porsche hay hệ thống kiểm soát bộ treo 4D có thể tính toán tình hình và chọn ra phương án tối ưu hơn.
                            </p>
                            <br>
                            <h5>An toàn</h5> 
                            <br>
                            <img src="/img/img/porsche panamera/porsche-panamera-outside.jpg" alt="">
                            <p>
                                Porsche trang bị cho Panamera bộ phanh kẹp cố định bằng nhôm, với 6 pít-tông cho bánh trước và 4 pit-tông cho bánh sau, đĩa phanh từ 330-360mm, với các rãnh tản nhiệt, đúc nguyên khối nên nhẹ và khó biến dạng hơn. Trải nghiệm thức tế cho thấy phản xạ phanh cực kì nhạy và chuẩn xác, dù hành trình di chuyển tương đối dài nhưng không có dấu hiệu mất phanh vì quá nhiệt.
                            </p>
                            <p>
                                Về chùm đèn ma trận của Porsche, đây là một trang bị khá độc đáo. Với 84 đèn LED riêng biệt, điều khiển bằng phần mềm hiện đại, với sự hỗ trợ đầu vào của các cảm biến, có thể tự động tắt, giảm độ sáng ở các đèn chiếu đến xe đối diện, giúp người lái đó không bị lóa. Thế hệ mới bổ sung PDLS Plus với khả năng mở rộng đèn chiếu theo góc lái, đặc biệt hữu ích khi vào cua hoặc ở ngã 4.
                            </p>
                            <p>
                                Cuối cùng là hệ thống hỗ trợ tầm nhìn ban đêm qua camera hồng ngoại để người lái có thể nhận biệt người, động vật và chủ động xử lý hơn, nếu người lái có vẻ chưa chú ý thì xe sẽ phát tín hiệu âm thanh, nháy pha.
                            </p>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h5><b>Thông số kỹ thuật</b></h5>
                        <table border="solid" cellpadding="50px" width="100%" >
                            <tr>
                                <td><b>Công suất</b></td>
                                <td>630 PS(463kW)</td>
                            </tr>
                            <tr>
                                <td><b>Mô men xoắn cực đại</b></td>
                                <td>820 Nm</td>
                            </tr>
                            <tr>
                                <td><b>Tăng tốc từ 0 - 100 km/giờ (0 - 62 dặm/giờ)</b></td>
                                <td>3,1 giây</td>
                            </tr>
                        </table>
                        <h5><b>Mức tiêu thụ nhiên liệu</b></h5>
                        <table border="solid" cellpadding="50px" width="100%" >
                            <tr>
                                <td><b>Đô thị (lít/100 km)</b></td>
                                <td>16,66 (NETC) - 12,1 (NEDC)</td>
                            </tr>
                            <tr>
                                <td><b>Ngoài đô thị (lít/100 km)</b></td>
                                <td>9,22 (NETC) - 8,0 (NEDC)</td>
                            </tr>
                            <tr>
                                <td><b>Kết hợp (lít/100 km)</b></td>
                                <td>11,88 (NETC) - 9,6 (NEDC)</td>
                            </tr>
                            <tr>
                                <td><b>Lượng khí thải CO2 (g/km)</b></td>
                                <td>218</td>
                            </tr>
                        </table>
                        <h5><b>Thân xe</b></h5>
                        <table border="solid" cellpadding="50px" width="100%" >
                            <tr>
                                <td><b>Dài</b></td>
                                <td>5.049 mm</td>
                            </tr>
                            <tr>
                                <td><b>Rộng</b></td>
                                <td>1.600 mm</td>
                            </tr>
                            <tr>
                                <td><b>Chiều cao</b></td>
                                <td>1.427 mm</td>
                            </tr>
                            <tr>
                                <td><b>Chiều dài cơ sở</b></td>
                                <td>2.950 mm</td>
                            </tr>
                        </table>
                        <p>Giá tiêu chuẩn: 11.810.000.000 VNĐ*
                        * Giá tiêu chuẩn bao gồm thuế nhập khẩu, thuế tiêu thụ đặc biệt, thuế giá trị gia tăng và gói dịch vụ 4 năm bảo dưỡng. Bảng giá, thông số kỹ thuật và hình ảnh có thể thay đổi theo từng thời điểm mà không báo trước.
                        </p>
                            
                            
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Thông Tin Chi Tiết</h6>
                         <p>Bỉ đã trả giá cho trận thắng 1-0 trước Bồ Đào Nha ở vòng 1/8 EURO 2021 khi mà cả De Bruyne và Eden Hazard dính chấn thương.
                            De Bruyne dính chấn thương ở đầu hiệp 2 và phải rời sân nhường chỗ cho Mertens. Tiền vệ của Man City bị chấn thương mắt cá chân sau pha phạm lỗi của Joao Palhinha. Trong khi đó, Hazard gặp vấn đề về gân khoeo và phải rời sân ở cuối trận.
                            “Chúng tôi cần 48 giờ để biết được mức độ chấn thương của Hazard và De Bruyne. 
                            De Bruyne bị chấn thương mắt cá chân. Cậu ấy đã phải nhận một cú vào bóng quá mạnh từ đối thủ. Hazard thì gặp vấn đề về cơ bắp. 
                            Chúng tôi sẽ quay trở lại Bỉ tối nay và sẽ có kết quả chẩn đoán vào ngày mai”, 
                            HLV của tuyển Bỉ, Roberto Martinez phát biểu.Bỉ đã trả giá cho trận thắng 1-0 trước Bồ Đào Nha ở vòng 1/8 EURO 2021 khi mà cả De Bruyne và Eden Hazard dính chấn thương. De Bruyne dính chấn thương ở đầu hiệp 2 và phải rời sân nhường chỗ cho Mertens. Tiền vệ của Man City bị chấn thương
                            mắt cá chân sau pha phạm lỗi của Joao Palhinha. Trong khi đó, Hazard gặp vấn đề về gân khoeo và phải rời sân ở cuối trận.
                            “Chúng tôi cần 48 giờ để biết được mức độ chấn thương của Hazard và De Bruyne. 
                            De Bruyne bị chấn thương mắt cá chân. Cậu ấy đã phải nhận một cú vào bóng quá mạnh từ đối thủ. Hazard thì gặp vấn đề về cơ bắp. Chúng tôi sẽ quay trở lại Bỉ tối nay và sẽ có kết quả chẩn đoán vào ngày mai”,
                            HLV của tuyển Bỉ, Roberto Martinez phát biểu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
